@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: hsl(0 0% 100%);
	--foreground: hsl(224 71.4% 4.1%);

	--muted: hsl(220 14.3% 95.9%);
	--muted-foreground: hsl(220 8.9% 46.1%);

	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(224 71.4% 4.1%);

	--card: hsl(0 0% 100%);
	--card-foreground: hsl(224 71.4% 4.1%);

	--border: hsl(220 13% 91%);
	--input: hsl(220 13% 91%);

	--primary: hsl(220.9 39.3% 11%);
	--primary-foreground: hsl(210 20% 98%);

	--secondary: hsl(220 14.3% 95.9%);
	--secondary-foreground: hsl(220.9 39.3% 11%);

	--accent: hsl(220 14.3% 95.9%);
	--accent-foreground: hsl(220.9 39.3% 11%);

	--destructive: hsl(0 72.2% 50.6%);
	--destructive-foreground: hsl(210 20% 98%);

	--ring: hsl(224 71.4% 4.1%);

	--radius: 0.5rem;

	--sidebar-background: hsl(0 0% 98%);
	--sidebar-foreground: hsl(240 5.3% 26.1%);
	--sidebar-primary: hsl(240 5.9% 10%);
	--sidebar-primary-foreground: hsl(0 0% 98%);
	--sidebar-accent: hsl(240 4.8% 95.9%);
	--sidebar-accent-foreground: hsl(240 5.9% 10%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(240 5% 64.9%);
}

.dark {
	--background: hsl(224 71.4% 4.1%);
	--foreground: hsl(210 20% 98%);

	--muted: hsl(215 27.9% 16.9%);
	--muted-foreground: hsl(217.9 10.6% 64.9%);

	--popover: hsl(224 71.4% 4.1%);
	--popover-foreground: hsl(210 20% 98%);

	--card: hsl(224 71.4% 4.1%);
	--card-foreground: hsl(210 20% 98%);

	--border: hsl(215 27.9% 16.9%);
	--input: hsl(215 27.9% 16.9%);

	--primary: hsl(210 20% 98%);
	--primary-foreground: hsl(220.9 39.3% 11%);

	--secondary: hsl(215 27.9% 16.9%);
	--secondary-foreground: hsl(210 20% 98%);

	--accent: hsl(215 27.9% 16.9%);
	--accent-foreground: hsl(210 20% 98%);

	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(210 20% 98%);

	--ring: hsl(216 12.2% 83.9%);

	--sidebar-background: hsl(240 5.9% 10%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(240 4.9% 83.9%);
}

@theme {
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-sidebar: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-svelte: #ff3e00;

	--radius-xl: calc(var(--radius) + 4px);
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	@keyframes accordion-down {
		from: {
			height: 0;
		}
		to: {
			height: var(--bits-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}

	code {
		font-family: monospace;
		border: 1px solid var(--color-border);
		padding: calc(var(--spacing) / 2);
		border-radius: var(--radius-sm);
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}
